/* http://meyerweb.com/eric/tools/css/reset/ 
  v2.0 | 20110126
  License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

a {
  color: black;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: Lato, "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

@media (max-width: 1440px) {
  .container {
    width: 96%;
  }
}

@media (max-width: 766px) {
  .container {
    width: 91%;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

::-webkit-input-placeholder {
  color: var(--dark-gray);
}

::-moz-placeholder {
  color: var(--dark-gray);
}

/* Firefox 19+ */
:-moz-placeholder {
  color: var(--dark-gray);
}

/* Firefox 18- */
:-ms-input-placeholder {
  color: var(--dark-gray);
}

.header {
  background-color: #222222;
  padding: 0 16px;
}

@media (max-width: 1440px) {
  .header {
    padding: 0 32px;
  }
}

@media (max-width: 766px) {
  .header {
    padding: 0 16px;
  }
}

.header .header__wrapper {
  min-height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .header__logo {
  margin: 0 41px 0 0;
  transition: opacity 1s;
}

.header .header__logo:hover, .header .header__logo:focus {
  opacity: 0.8;
}

.header .header__logo:active {
  opacity: 0.3;
}

.header .header__icon {
  cursor: pointer;
  fill: #FFFFFF;
  transition: fill 1s;
}

.header .header__icon:hover, .header .header__icon:focus {
  fill: #F16D7D;
}

.header .header__icon:active {
  opacity: 0.3;
}

.header .header__button {
  border: none;
  background-color: transparent;
  min-height: 75px;
  position: relative;
}

.header .header__button:hover + .header__nav {
  transform: translateX(0);
}

.header .header__nav {
  content: "";
  position: absolute;
  min-width: 400px;
  background: #FFFFFF;
  top: 75px;
  left: auto;
  z-index: 1;
  transform: translateX(900px);
  transition: transform 0.7s;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.5);
}

@media (max-width: 766px) {
  .header .header__nav {
    left: 50%;
    max-width: 375px;
  }
}

.header .header__nav:hover {
  transform: translateX(0);
}

.header .header__link {
  margin: 0 0 0 34px;
}

@media (max-width: 1440px) {
  .header .header__link {
    margin: 0 0 0 25px;
  }
}

@media (max-width: 766px) {
  .header .header__link--mobile-hidden {
    display: none;
  }
}

.header .header__title {
  display: flex;
  font-size: 14px;
  line-height: 17px;
  font-weight: bold;
  font-style: normal;
  margin: 37px 0 5px 34px;
  text-transform: uppercase;
  cursor: default;
}

.header .header__nav-list {
  margin-left: 34px;
  height: 100%;
  font-size: 14px;
}

.header .nav__item {
  font-size: 14px;
  line-height: 17px;
  font-weight: normal;
  font-style: normal;
}

.header .nav-item__link {
  display: flex;
  color: #F16D7D;
  text-transform: uppercase;
  margin-bottom: 12px;
  margin-top: 20px;
  cursor: default;
}

.header .nav-item__sub-list {
  margin-left: 28px;
}

.header .nav-item__sub-item {
  display: flex;
  font-size: 16px;
  line-height: 17px;
  font-weight: normal;
  font-style: normal;
  padding-bottom: 20px;
  color: #5D5D5D;
}

.header .nav-item__sub-item:hover {
  color: #F16D7D;
  text-decoration: underline;
}

.promo {
  display: flex;
  margin: 0 0 63px;
  min-height: 363px;
}

@media (max-width: 1440px) {
  .promo {
    margin: 0 0 19px;
  }
}

@media (max-width: 766px) {
  .promo {
    margin: 0 0 64px;
  }
}

.promo .promo__img {
  width: 50%;
  height: auto;
}

@media (max-width: 766px) {
  .promo .promo__img {
    display: none;
  }
}

.promo .promo__heading-wrapper {
  background-color: #F1E4E6;
  flex-grow: 1;
  align-items: center;
  display: flex;
  padding: 0 0 0 92px;
  position: relative;
}

.promo .promo__heading-wrapper:before {
  content: '';
  background-color: #F16D7D;
  width: 12px;
  height: 92px;
  position: absolute;
  right: auto;
  margin-left: -20px;
}

@media (max-width: 1440px) {
  .promo .promo__heading-wrapper {
    padding: 0 0 0 68px;
  }
}

@media (max-width: 766px) {
  .promo .promo__heading-wrapper {
    padding: 0 0 0 83px;
  }
}

.promo .promo__heading {
  font-size: 48px;
  line-height: 58px;
  font-weight: 900;
  font-style: normal;
  text-transform: uppercase;
}

@media (max-width: 1440px) {
  .promo .promo__heading {
    font-size: 44px;
    line-height: 53px;
    font-weight: 900;
    font-style: normal;
  }
}

@media (max-width: 766px) {
  .promo .promo__heading {
    font-size: 38px;
    line-height: 46px;
    font-weight: 900;
    font-style: normal;
  }
}

.promo .promo__sub-heading {
  font-size: 32px;
  line-height: 38px;
  font-weight: 700;
  font-style: normal;
  display: block;
}

@media (max-width: 1440px) {
  .promo .promo__sub-heading {
    font-size: 24px;
    line-height: 29px;
    font-weight: 700;
    font-style: normal;
  }
}

@media (max-width: 766px) {
  .promo .promo__sub-heading {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    font-style: normal;
  }
}

.promo .promo__sub-heading-pink {
  color: #F16D7D;
}

.categories__list {
  display: grid;
  grid-template-columns: repeat(3, 33.3%);
  grid-gap: 30px;
  grid-template-areas: "box-1 box-2 box-3" "box-4 box-4 box-4";
}

@media (max-width: 1440px) {
  .categories__list {
    min-height: 168px;
    grid-template-columns: repeat(3, 30%);
  }
}

@media (max-width: 766px) {
  .categories__list {
    min-height: 247px;
    margin-bottom: 32px;
    grid-template-columns: repeat(1, 100%);
    grid-template-areas: "box-1" "box-2" "box-3" "box-4";
  }
}

.categories__list .categories__item {
  min-height: 260px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  background-repeat: no-repeat;
}

.categories__list .categories__item--woman {
  grid-area: box-1;
  background-image: url(../img/forwomen.jpg);
  background-color: #5D5D5D;
}

.categories__list .categories__item--man {
  grid-area: box-2;
  background-image: url(../img/formen.jpg);
  background-color: #5D5D5D;
}

.categories__list .categories__item--kids {
  grid-area: box-3;
  background-image: url(../img/forkids.jpg);
  background-color: #5D5D5D;
}

.categories__list .categories__item--accessories {
  grid-area: box-4;
  background-image: url(../img/accesories.jpg);
  background-color: #5D5D5D;
  width: 100%;
  min-height: 180px;
}

@media (max-width: 1440px) {
  .categories__list .categories__item--accessories {
    min-height: 116px;
  }
}

@media (max-width: 766px) {
  .categories__list .categories__item--accessories {
    min-height: 111px;
  }
}

.categories__list .categories__text {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  font-style: normal;
  color: #FFFFFF;
}

.categories__list .categories__heading {
  font-size: 24px;
  line-height: 29px;
  font-weight: 700;
  font-style: normal;
  color: #F16D7D;
}

.products {
  display: flex;
  flex-direction: column;
  margin-top: 97px;
  margin-bottom: 95px;
  max-width: 1140px;
}

@media (max-width: 1440px) {
  .products {
    margin-top: 154px;
    margin-bottom: 65px;
  }
}

@media (max-width: 766px) {
  .products {
    margin-top: 64px;
    margin-bottom: 97px;
  }
}

.products__heading {
  font-size: 30px;
  line-height: 36px;
  font-weight: normal;
  font-style: normal;
  text-align: center;
  color: #222222;
}

.products__text {
  font-size: 14px;
  line-height: 17px;
  font-weight: normal;
  font-style: normal;
  text-align: center;
  color: #9F9F9F;
}

.products__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 50px;
}

@media (max-width: 1440px) {
  .products__list {
    justify-content: center;
  }
}

.products__item {
  width: 360px;
  margin-bottom: 30px;
}

@media (max-width: 1440px) {
  .products__item {
    margin-right: 16px;
    margin-bottom: 17px;
  }
}

.products__item .products__item-cart {
  position: relative;
}

.products__item .products__item-cart:hover .products__item-shadow {
  display: block;
}

.products__item .products__item-shadow {
  content: "";
  width: 100%;
  min-height: 420px;
  position: absolute;
  background: rgba(58, 56, 56, 0.76);
  top: 0;
  display: none;
}

.products__item .products__item-button {
  padding: 10px;
  min-width: 140px;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  line-height: 17px;
  font-weight: normal;
  font-style: normal;
  text-align: end;
  color: #FFFFFF;
  border: 2px solid #FFFFFF;
  cursor: pointer;
  background: none;
}

.products__item .products__item-button:after {
  content: "";
  position: absolute;
  background-image: url(../img/basket-icon.svg);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  left: 5px;
  top: 4px;
}

.products__item .products__desc {
  padding: 24px 17px 20px 29px;
  align-items: flex-start;
  background: #F8F8F8;
}

.products__item .products__desc .products__item-heading {
  font-size: 13px;
  line-height: 16px;
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  color: #000000;
}

.products__item .products__desc .products__item-text {
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  font-style: normal;
  color: #5D5D5D;
  padding: 13px 0 18px 0;
}

.products__item .products__desc .products__item-price {
  font-size: 16px;
  line-height: 19px;
  font-weight: normal;
  font-style: normal;
  color: #F16D7D;
}

.products__button {
  width: 211px;
  padding: 20px;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 19px;
  font-weight: normal;
  font-style: normal;
  align-self: center;
  color: #F16D7D;
  background: none;
  border: 1px solid #F16D7D;
  margin-top: 19px;
  cursor: pointer;
  transition: background 1s, transform 1s, color 1s;
}

.products__button:focus, .products__button:hover {
  outline-style: none;
  background: #F16D7D;
  color: #FFFFFF;
  transform: scale(1.03);
}

.far {
  font-size: 25px;
  color: pink;
}

.spec-section {
  min-height: 341px;
  background-color: #222222;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.spec-section .spec-section__list {
  display: flex;
}

@media (max-width: 1440px) {
  .spec-section .spec-section__list {
    display: block;
    flex-wrap: wrap;
  }
}

.spec-section .spec-section__item {
  width: 360px;
  text-align: center;
}

@media (max-width: 1440px) {
  .spec-section .spec-section__item {
    margin-top: 48px;
    padding-bottom: 64px;
  }
}

.spec-section .spec-section__item .spec-section__item-heading {
  font-size: 20px;
  line-height: 24px;
  font-weight: normal;
  font-style: normal;
  color: #F8F8F8;
  margin: 19px 0 16px 0;
}

.spec-section .spec-section__item .spec-section__item-text {
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  font-style: normal;
  color: #F8F8F8;
}

.footer-top {
  min-height: 448px;
  background-image: url(../img/footer.jpg);
  background-color: #F8F8F8;
  background-size: cover;
  display: flex;
  align-items: center;
  padding-top: 54px;
}

.footer-top .footer-top__list {
  display: flex;
  justify-content: space-around;
}

@media (max-width: 1440px) {
  .footer-top .footer-top__list {
    flex-direction: column;
    align-items: center;
  }
}

.footer-top .footer-top__item {
  max-width: 360px;
  text-align: center;
}

@media (max-width: 1440px) {
  .footer-top .footer-top__item {
    margin-bottom: 48px;
  }
}

.footer-top .footer-top__item .footer-top__item-img {
  border-radius: 50%;
}

.footer-top .footer-top__item .footer-top__item-text {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  margin-top: 10px;
}

@media (max-width: 1440px) {
  .footer-top .footer-top__item .footer-top__item-text {
    font-size: 19px;
    line-height: 23px;
    font-weight: 400;
    font-style: normal;
  }
}

.footer-top .footer-top__item .footer-top__heading {
  margin-top: 25px;
  font-size: 24px;
  line-height: 38px;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
}

@media (max-width: 1440px) {
  .footer-top .footer-top__item .footer-top__heading {
    font-size: 18px;
    line-height: 28px;
    font-weight: 700;
    font-style: normal;
  }
}

@media (max-width: 766px) {
  .footer-top .footer-top__item .footer-top__heading {
    font-size: 24px;
    line-height: 37px;
    font-weight: 700;
    font-style: normal;
  }
}

.footer-top .footer-top__item .footer-top__sub-heading {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  display: block;
}

@media (max-width: 1440px) {
  .footer-top .footer-top__item .footer-top__sub-heading {
    font-size: 18px;
    line-height: 29px;
    font-weight: 400;
    font-style: normal;
  }
}

@media (max-width: 766px) {
  .footer-top .footer-top__item .footer-top__sub-heading {
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    font-style: normal;
  }
}

.footer-top .footer-top__item .footer-top__form {
  display: flex;
  margin-top: 32px;
  min-height: 49px;
}

@media (max-width: 1440px) {
  .footer-top .footer-top__item .footer-top__form {
    padding-bottom: 140px;
  }
}

@media (max-width: 766px) {
  .footer-top .footer-top__item .footer-top__form {
    padding-bottom: 110px;
  }
}

.footer-top .footer-top__item .footer-top__form .footer-top__input {
  min-width: 250px;
  padding: 20px;
  background-color: #F8F8F8;
  box-sizing: border-box;
  border-radius: 50px 0 0 50px;
  cursor: text;
}

.footer-top .footer-top__item .footer-top__form .footer-top__input:hover, .footer-top .footer-top__item .footer-top__form .footer-top__input:focus {
  border: 2px solid #F16D7D;
  outline-style: none;
  background: white;
  cursor: text;
}

.footer-top .footer-top__item .footer-top__form .footer-top__submit {
  min-width: 100px;
  box-sizing: border-box;
  border-radius: 0 50px 50px 0;
  background-color: #F16D7D;
  color: #FFFFFF;
  padding: 20px;
  font-size: 14px;
  line-height: 17px;
  font-weight: normal;
  font-style: normal;
  cursor: pointer;
}

.footer-top .footer-top__item .footer-top__form .footer-top__submit:focus, .footer-top .footer-top__item .footer-top__form .footer-top__submit:hover {
  border: 2px solid #F16D7D;
  outline-style: none;
  background: transparent;
  color: #F16D7D;
}

.footer-bottom {
  background-color: #222222;
}

.footer-bottom .footer-wrapper {
  min-height: 79px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 766px) {
  .footer-bottom .footer-wrapper {
    flex-direction: column-reverse;
    padding-top: 23px;
    padding-bottom: 9px;
  }
}

.footer-bottom .footer-wrapper .footer-bottom__text .footer-bottom__copyright {
  font-size: 16px;
  line-height: 19px;
  font-weight: normal;
  font-style: normal;
  color: #F8F8F8;
}

@media (max-width: 766px) {
  .footer-bottom .footer-wrapper .footer-bottom__text .footer-bottom__copyright {
    margin-top: 10px;
  }
}

.footer-bottom .footer-bottom__list {
  display: flex;
}

.footer-bottom .footer-bottom__list .footer-bottom__icon {
  cursor: pointer;
  fill: #000000;
  background-color: #FFFFFF;
  margin: 0 7px 0 0;
  width: 18px;
  height: 18px;
  padding: 5px;
  box-sizing: content-box;
  transition: fill 0.5s;
}

.footer-bottom .footer-bottom__list .footer-bottom__icon:hover, .footer-bottom .footer-bottom__list .footer-bottom__icon:focus {
  fill: #F16D7D;
}

.footer-bottom .footer-bottom__list .footer-bottom__icon:active {
  opacity: 0.3;
}

.footer-bottom .footer-bottom__list .footer-bottom__icon-pink {
  cursor: pointer;
  fill: #FFFFFF;
  background-color: #F16D7D;
  margin: 0 7px 0 0;
  width: 18px;
  height: 18px;
  padding: 5px;
  box-sizing: content-box;
  transition: fill 0.5s, background 0.5s;
}

.footer-bottom .footer-bottom__list .footer-bottom__icon-pink:hover, .footer-bottom .footer-bottom__list .footer-bottom__icon-pink:focus {
  fill: #F16D7D;
  background-color: #FFFFFF;
}

.footer-bottom .footer-bottom__list .footer-bottom__icon-pink:active {
  opacity: 0.3;
}

.registration {
  display: flex;
}

@media (max-width: 1440px) {
  .registration {
    justify-content: center;
  }
}

@media (max-width: 766px) {
  .registration {
    flex-direction: column;
    align-items: center;
  }
}

.registration .registration__form {
  display: flex;
  flex-direction: column;
  max-width: 360px;
  margin: 64px 128px 96px 0;
}

@media (max-width: 1440px) {
  .registration .registration__form {
    margin-right: 22px;
  }
}

@media (max-width: 766px) {
  .registration .registration__form {
    margin-bottom: 0;
  }
}

.registration .registration__form .registration__form-name {
  display: flex;
  flex-direction: column;
}

.registration .registration__form .registration__form-text {
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  font-style: normal;
}

.registration .registration__form .registration__form-input {
  font-size: 13px;
  line-height: 16px;
  font-weight: 300;
  font-style: normal;
  border: 2px solid #F7E4E2;
  min-height: 30px;
  color: #B1B1B1;
  padding: 7px;
  margin-top: 21px;
}

.registration .registration__form .registration__form-input:hover {
  outline: 2px solid #F16D7D;
  background: #FFFFFF;
  cursor: text;
}

.registration .registration__form .registration__form-gender {
  font-size: 11px;
  line-height: 13px;
  font-weight: 300;
  font-style: normal;
  color: #000000;
  margin: 35px 0 35px -20px;
}

.registration .registration__form .registration__form-radio-input {
  display: none;
}

.registration .registration__form .registration__form-radio-input:checked + .registration__form-radio-label:after {
  background: #F7E4E2;
}

.registration .registration__form .registration__form-radio-label {
  margin: 0 0 0 40px;
  position: relative;
  cursor: pointer;
}

.registration .registration__form .registration__form-radio-label:after {
  content: "";
  width: 15px;
  height: 15px;
  border: 1px solid;
  border-radius: 50%;
  position: absolute;
  left: -22px;
  top: -2px;
}

.registration .registration__form .registration__form-help {
  font-size: 13px;
  line-height: 16px;
  font-weight: 300;
  font-style: normal;
  color: #B1B1B1;
  margin: 16px 0 39px 0;
}

.registration .registration__form .registration__form-button {
  padding: 15px;
  min-width: 167px;
  align-self: flex-start;
  font-size: 14px;
  line-height: 17px;
  font-weight: normal;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
  background-color: #F16D7D;
  color: #FFFFFF;
  border: 2px solid #F16D7D;
  cursor: pointer;
  transition: background 0.7s, transform 0.7s, color 0.7s;
}

.registration .registration__form .registration__form-button .registration__form-icon {
  padding-left: 10px;
  fill: #FFFFFF;
  width: 17px;
  height: 10px;
}

.registration .registration__form .registration__form-button:hover {
  background-color: transparent;
  color: #F16D7D;
  transform: scale(1.05);
}

.registration .registration__form .registration__form-button:hover .registration__form-icon {
  fill: #F16D7D;
}

.carts {
  display: flex;
}

@media (max-width: 1440px) {
  .carts {
    flex-direction: column;
    align-items: center;
  }
}

.carts .carts__items {
  flex-direction: column;
  margin-top: 96px;
}

@media (max-width: 1440px) {
  .carts .carts__items {
    max-width: 734px;
  }
}

@media (max-width: 766px) {
  .carts .carts__items {
    max-width: 357px;
  }
}

.carts .carts__items .carts__item {
  display: flex;
  box-shadow: 12px 7px 7px 1px rgba(34, 60, 80, 0.35);
  margin-bottom: 40px;
}

@media (max-width: 766px) {
  .carts .carts__items .carts__item img {
    width: 144px;
    height: 188px;
  }
}

.carts .carts__items .carts__item .carts__item-cross {
  position: absolute;
  background-color: #FFFFFF;
  border: none;
  bottom: 270px;
  right: 28px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

@media (max-width: 766px) {
  .carts .carts__items .carts__item .carts__item-cross {
    bottom: 155px;
    left: 160px;
  }
}

.carts .carts__items .carts__item .carts__item-cross:hover {
  opacity: 0.8;
  fill: #F16D7D;
}

.carts .carts__items .carts__item .carts__item-cross:active {
  opacity: 0.5;
  fill: #F16D7D;
}

.carts .carts__items .carts__item .carts__item-description {
  min-width: 390px;
  margin-left: 32px;
  position: relative;
}

@media (max-width: 766px) {
  .carts .carts__items .carts__item .carts__item-description {
    margin-left: 17px;
  }
}

.carts .carts__items .carts__item .carts__item-description .carts__item-heading {
  font-size: 24px;
  line-height: 29px;
  font-weight: normal;
  font-style: normal;
  margin: 22px 0 42px 0;
  text-transform: uppercase;
  max-width: 210px;
}

@media (max-width: 766px) {
  .carts .carts__items .carts__item .carts__item-description .carts__item-heading {
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    font-style: normal;
    max-width: 140px;
    margin: 13px 0 25px 0;
  }
}

.carts .carts__items .carts__item .carts__item-description .carts__item-text {
  font-size: 22px;
  line-height: 26px;
  font-weight: normal;
  font-style: normal;
  margin-bottom: 6px;
  color: #5D5D5D;
}

@media (max-width: 766px) {
  .carts .carts__items .carts__item .carts__item-description .carts__item-text {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    font-style: normal;
  }
}

.carts .carts__items .carts__item .carts__item-description .carts__item-text .carts__item-text-pink {
  color: #F16D7D;
}

.carts .carts__items .carts__item .carts__item-description .carts__item-text input {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  font-style: normal;
  margin-left: 24px;
  max-width: 44px;
  min-height: 24px;
  text-align: center;
  border-color: #F8F8F8;
}

@media (max-width: 766px) {
  .carts .carts__items .carts__item .carts__item-description .carts__item-text input {
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    font-style: normal;
    max-width: 24px;
    min-height: 14px;
  }
}

.carts .carts__items .carts__buttons {
  display: flex;
  justify-content: space-between;
  margin: 70px 0 128px 0;
}

@media (max-width: 1440px) {
  .carts .carts__items .carts__buttons {
    justify-content: space-evenly;
    margin: 62px 0 64px 0;
  }
}

@media (max-width: 766px) {
  .carts .carts__items .carts__buttons {
    justify-content: center;
    margin: 30px 0 48px 0;
  }
}

.carts .carts__items .carts__buttons .carts__button {
  padding: 15px;
  min-width: 230px;
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
  background-color: #FFFFFF;
  color: #000000;
  border: 2px solid #B1B1B1;
  cursor: pointer;
}

@media (max-width: 766px) {
  .carts .carts__items .carts__buttons .carts__button {
    margin-right: 10px;
    min-width: 170px;
    padding: 5px;
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    font-style: normal;
  }
}

.carts .carts__items .carts__buttons .carts__button:hover {
  border: 2px solid #F16D7D;
}

.carts .carts__registration {
  flex-direction: column;
  margin: 96px 0 0 130px;
}

@media (max-width: 1440px) {
  .carts .carts__registration {
    display: flex;
    margin: 0 0 140px;
    flex-direction: row;
    justify-content: center;
  }
}

@media (max-width: 766px) {
  .carts .carts__registration {
    display: flex;
    margin: 0 0 96px;
    flex-direction: column;
    align-items: center;
  }
}

.carts .carts__registration .carts__registration-form {
  display: flex;
  flex-direction: column;
}

@media (max-width: 1440px) {
  .carts .carts__registration .carts__registration-form {
    width: 360px;
  }
}

@media (max-width: 766px) {
  .carts .carts__registration .carts__registration-form {
    width: 360px;
  }
}

.carts .carts__registration .carts__registration-form .carts__registration-text {
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 20px;
}

.carts .carts__registration .carts__registration-form .carts__registration-input {
  min-width: 350px;
  min-height: 20px;
  font-size: 13px;
  line-height: 16px;
  font-weight: 300;
  font-style: normal;
  border: 2px solid #F7E4E2;
  color: #B1B1B1;
  padding: 10px;
  margin-top: 21px;
}

@media (max-width: 1440px) {
  .carts .carts__registration .carts__registration-form .carts__registration-input {
    min-width: 335px;
  }
}

.carts .carts__registration .carts__registration-form .carts__registration-input:hover {
  outline: 2px solid #F16D7D;
  background: #FFFFFF;
  cursor: text;
}

.carts .carts__registration .carts__registration-form .carts__button {
  display: block;
  margin: 24px 0 58px 0;
  padding: 10px;
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
  background-color: #FFFFFF;
  color: #5D5D5D;
  border: 2px solid #B1B1B1;
  cursor: pointer;
}

.carts .carts__registration .carts__registration-form .carts__button:hover {
  border: 2px solid #F16D7D;
}

.carts .carts__registration .carts__registration-total {
  min-width: 294px;
  max-height: 150px;
  background-color: #F8F8F8;
  padding: 37px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
}

@media (max-width: 1440px) {
  .carts .carts__registration .carts__registration-total {
    max-width: 350px;
    margin: 58px 0 0 18px;
  }
}

@media (max-width: 766px) {
  .carts .carts__registration .carts__registration-total {
    margin: 0 0 0 0;
  }
}

.carts .carts__registration .carts__registration-total:after {
  content: '';
  position: absolute;
  border: 1px solid #B1B1B1;
  width: 79%;
  top: 120px;
}

.carts .carts__registration .carts__registration-total .carts__registration-total-sub {
  font-size: 11px;
  line-height: 13px;
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  margin-top: 12px;
  margin-bottom: 18px;
}

.carts .carts__registration .carts__registration-total .carts__registration-total-sub span {
  margin-left: 20px;
}

.carts .carts__registration .carts__registration-total .carts__registration-total-all {
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
  margin-bottom: 42px;
}

.carts .carts__registration .carts__registration-total .carts__registration-total-all .carts__registration-total-pink {
  color: #F16D7D;
  margin-left: 18px;
}

.carts .carts__registration .carts__registration-total .carts__registration-button {
  padding: 15px;
  width: 100%;
  align-self: flex-start;
  position: relative;
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
  background-color: #F16D7D;
  color: #F8F8F8;
  border: 2px solid #F16D7D;
  cursor: pointer;
}

.carts .carts__registration .carts__registration-total .carts__registration-button:hover {
  background-color: transparent;
  color: #F16D7D;
}

.catalog {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  border: 1px solid #EBEBEB;
  width: 283px;
  height: 43px;
}

.catalog .catalog__item {
  margin: 0 7px 0 7px;
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  font-style: normal;
  color: #6F6E6E;
}

.catalog .catalog__item-link:hover {
  color: #F16D7D;
  font-weight: bold;
}

.catalog .catalog__item .catalog__arrow {
  font-size: 18px;
  line-height: 0px;
  font-weight: 700;
  font-style: normal;
}

.title {
  background-color: #F7E4E2;
}

.title .title__heading {
  display: flex;
  min-height: 148px;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 766px) {
  .title .title__heading {
    flex-direction: column;
    justify-content: space-evenly;
  }
}

.title .title__heading .title__text {
  color: #F16D7D;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 29px;
  font-weight: normal;
  font-style: normal;
}

@media (max-width: 766px) {
  .title .title__heading .title__text {
    text-align: center;
  }
}

.title .title__heading .title__list {
  display: flex;
}

.title .title__heading .title__list .title__item {
  display: flex;
  margin-left: 10px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  color: #5D5D5D;
}

.title .title__heading .title__list .title__item .title__item-flash {
  display: inline;
  padding-left: 10px;
}

.title .title__heading .title__list .title__item .title__item-link:hover {
  font-size: 14px;
  line-height: 17px;
  font-weight: 700;
  font-style: normal;
  color: #F16D7D;
  text-decoration: underline;
}

.filter {
  display: flex;
  justify-content: flex-start;
  margin-top: 50px;
  margin-bottom: -95px;
}

@media (max-width: 1440px) {
  .filter {
    justify-content: space-between;
  }
}

@media (max-width: 766px) {
  .filter {
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    font-style: normal;
  }
}

.filter .filter__menu {
  display: flex;
  font-size: 14px;
  line-height: 17px;
  font-weight: 600;
  font-style: normal;
}

.filter .filter__menu .filter__heading {
  cursor: default;
  text-transform: uppercase;
}

@media (max-width: 766px) {
  .filter .filter__menu .filter__heading {
    display: none;
  }
}

.filter .filter__menu .filter__heading-button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  margin-left: 10px;
  position: relative;
  min-height: 20px;
}

.filter .filter__menu .filter__heading-button:hover {
  color: #F16D7D;
  fill: #F16D7D;
  cursor: pointer;
}

.filter .filter__menu .filter__heading-button:hover + .filter__nav {
  transform: translateX(0);
}

@media (max-width: 766px) {
  .filter .filter__menu .filter__heading-button .filter__icon {
    width: 38px;
    height: 25px;
  }
}

.filter .filter__nav {
  transform: translateX(-900px);
  transition: transform 0.7s;
  content: "";
  position: absolute;
  min-width: 360px;
  height: auto;
  background: #FFFFFF;
  top: 293px;
  z-index: 1;
  padding: 25px 17px 17px 33px;
  box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6);
}

.filter .filter__nav:hover {
  transform: translateX(0);
}

.filter .filter__nav .filter__nav-items {
  display: flex;
  flex-direction: column;
}

.filter .filter__nav .filter__nav-links {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-top: 20px;
  position: relative;
}

.filter .filter__nav .filter__nav-links:hover {
  color: #F16D7D;
}

.filter .filter__nav .filter__nav-links:before {
  position: absolute;
  content: "";
  width: 5px;
  height: 30px;
  background-color: #F16D7D;
  right: auto;
  margin-left: -20px;
}

.filter .filter__nav .filter__nav-links:after {
  position: absolute;
  content: "";
  width: 327px;
  left: -10px;
  top: 30px;
  border: 1px solid #ebebeb;
}

.filter .filter__nav .filter__nav-list {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  color: #6F6E6E;
  padding-top: 15px;
}

.filter .filter__nav .filter__nav-list .filter__nav-link {
  display: flex;
  margin-bottom: 11px;
}

.filter .filter__nav .filter__nav-list .filter__nav-link:hover {
  color: #F16D7D;
  text-decoration: underline;
}

.filter .filter__check {
  display: flex;
  margin-left: 310px;
}

@media (max-width: 1440px) {
  .filter .filter__check {
    margin-left: 0px;
  }
}

.filter .filter__check .filter__check-lists {
  display: flex;
}

.filter .filter__check .filter__check-lists .filter__check-items {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  margin-right: 28px;
  cursor: pointer;
}

.filter .filter__check .filter__check-lists .filter__check-items .filter__check-button {
  display: flex;
  text-transform: uppercase;
  border: none;
  background-color: transparent;
  margin-left: 10px;
  position: relative;
  cursor: pointer;
}

.filter .filter__check .filter__check-lists .filter__check-items .filter__check-button .filter__icon {
  margin-top: 3px;
  margin-left: 7px;
}

.filter .filter__check .filter__check-lists .filter__check-items .filter__check-button:hover {
  color: #F16D7D;
}

.filter .filter__check .filter__check-lists .filter__check-items .filter__check-button:hover .filter__icon {
  fill: #F16D7D;
}

.filter .filter__check .filter__check-lists .filter__check-items .filter__check-button:hover + .filter__check-list {
  transform: translateY(0);
}

.filter .filter__check .filter__check-lists .filter__check-items .filter__check-list {
  padding-top: 10px;
  padding-left: 10px;
  width: 80px;
  height: auto;
  background: #FFFFFF;
  transform: translateY(-400px);
  transition: transform 0s;
  content: "";
  position: absolute;
  top: 290px;
  z-index: 1;
  box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6);
}

.filter .filter__check .filter__check-lists .filter__check-items .filter__check-list:hover {
  transform: translateY(0);
}

.filter .filter__check .filter__check-lists .filter__check-items .filter__check-list .filter__check-input {
  margin-bottom: 6px;
  margin-right: 10px;
  cursor: pointer;
}

.filter .filter__check .filter__check-lists .filter__check-items .filter__check-list .filter__check-input:hover + .filter__check-label {
  color: #F16D7D;
}

.filter .filter__check .filter__check-lists .filter__check-items .filter__check-list .filter__check-label {
  text-transform: uppercase;
  cursor: pointer;
}

.description {
  display: flex;
  flex-direction: column;
  margin-top: 64px;
  max-width: 50%;
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  font-style: normal;
  color: #000000;
}

@media (max-width: 1440px) {
  .description {
    font-size: 16px;
    line-height: 19px;
    font-weight: 300;
    font-style: normal;
    max-width: 354px;
  }
}

@media (max-width: 766px) {
  .description {
    margin-top: 40px;
    margin-bottom: 100px;
  }
}

.description .description__heading {
  text-transform: uppercase;
}

.description .description__text {
  margin: 22px 0 22px 0;
}

@media (max-width: 1440px) {
  .description .description__text {
    margin-bottom: 28px;
  }
}

.description .description__item {
  margin: 0 0 22px 55px;
  position: relative;
}

.description .description__item:before {
  content: "";
  position: absolute;
  top: 3px;
  left: -50px;
  background-image: url(../img/check.svg);
  width: 20px;
  height: 16px;
}

.features {
  margin-top: -65px;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  background-color: #FFFFFF;
}

@media (max-width: 1440px) {
  .features {
    margin-top: 0px;
  }
}

.features .features__block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features .features__block .features__head {
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
  color: #F16D7D;
  margin-top: 64px;
  position: relative;
}

.features .features__block .features__head:before {
  content: "";
  width: 63px;
  height: 3px;
  background-color: #F16D7D;
  position: absolute;
  bottom: -12px;
  left: 38px;
}

.features .features__block .features__heading {
  font-size: 18px;
  line-height: 22px;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
  color: #5D5D5D;
  margin-top: 28px;
}

.features .features__block .features__text {
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  font-style: normal;
  color: #5D5D5D;
  margin-top: 48px;
  max-width: 554px;
  text-align: center;
}

@media (max-width: 766px) {
  .features .features__block .features__text {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    font-style: normal;
    margin-top: 31px;
  }
}

.features .features__block .features__price {
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  font-style: normal;
  color: #F16D7D;
  margin-top: 32px;
  position: relative;
}

.features .features__block .features__price:before {
  content: "";
  width: 641px;
  height: 1px;
  background-color: #5D5D5D;
  position: absolute;
  bottom: -65px;
  right: -300px;
}

@media (max-width: 766px) {
  .features .features__block .features__price:before {
    width: 420px;
    bottom: -65px;
    right: -175px;
  }
}

.features .features__check {
  margin-top: 130px;
  display: flex;
  justify-content: center;
}

@media (max-width: 1440px) {
  .features .features__check {
    margin-left: 0px;
  }
}

.features .features__check .features__check-lists {
  display: flex;
}

.features .features__check .features__check-lists .features__check-items {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  margin-right: 28px;
  cursor: pointer;
}

@media (max-width: 766px) {
  .features .features__check .features__check-lists .features__check-items {
    font-size: 10px;
    line-height: 12px;
    font-weight: 400;
    font-style: normal;
  }
}

.features .features__check .features__check-lists .features__check-items .features__check-button {
  display: flex;
  text-transform: uppercase;
  border: none;
  background-color: transparent;
  margin-left: 10px;
  position: relative;
  cursor: pointer;
}

.features .features__check .features__check-lists .features__check-items .features__check-button .features__icon {
  margin-top: 3px;
  margin-left: 7px;
}

.features .features__check .features__check-lists .features__check-items .features__check-button:hover {
  color: #F16D7D;
}

.features .features__check .features__check-lists .features__check-items .features__check-button:hover .features__icon {
  fill: #F16D7D;
}

.features .features__check .features__check-lists .features__check-items .features__check-button:hover + .features__check-list {
  display: block;
}

.features .features__check .features__check-lists .features__check-items .features__check-list {
  padding-top: 10px;
  padding-left: 10px;
  width: 80px;
  height: auto;
  background: #FFFFFF;
  display: none;
  content: "";
  position: absolute;
  z-index: 1;
  box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6);
}

.features .features__check .features__check-lists .features__check-items .features__check-list:hover {
  display: block;
}

.features .features__check .features__check-lists .features__check-items .features__check-list .features__check-input {
  margin-bottom: 6px;
  margin-right: 10px;
  cursor: pointer;
}

.features .features__check .features__check-lists .features__check-items .features__check-list .features__check-input:hover + .features__check-label {
  color: #F16D7D;
}

.features .features__check .features__check-lists .features__check-items .features__check-list .features__check-label {
  text-transform: uppercase;
  cursor: pointer;
}

.features .features__item-button {
  margin-top: 49px;
  align-self: center;
  padding: 7px;
  min-width: 140px;
  position: relative;
  font-size: 14px;
  line-height: 17px;
  font-weight: normal;
  font-style: normal;
  text-align: end;
  color: #F16D7D;
  border: 2px solid #F16D7D;
  cursor: pointer;
  background: none;
  transition: background 0.3s, transform 0.3s, color 0.3s;
}

.features .features__item-button:hover {
  outline-style: none;
  background: #F16D7D;
  color: #FFFFFF;
  transform: scale(1.03);
}

.features .features__item-button:hover .features__item-svg {
  fill: #FFFFFF;
}

.features .features__item-button .features__item-svg {
  fill: #F16D7D;
  padding-right: 10px;
}
/*# sourceMappingURL=style.css.map */