.carts {
  display: flex;

  @include tablet {
    flex-direction: column;
    align-items: center;
  }

  .carts__items {
    flex-direction: column;
    margin-top: 96px;

    @include tablet {
      max-width: 734px;
    }

    @include mobile {
      max-width: 357px;
    }

    .carts__item {
      display: flex;
      box-shadow: 12px 7px 7px 1px rgba(34, 60, 80, 0.35);
      margin-bottom: 40px;

      @include mobile {
        img {
          width: 144px;
          height: 188px;
        }
      }

      .carts__item-cross {
        position: absolute;
        background-color: $white;
        border: none;
        bottom: 270px;
        right: 28px;
        width: 20px;
        height: 20px;
        cursor: pointer;

        @include mobile {
          bottom: 155px;
          left: 160px;
        }

        &:hover {
          opacity: 0.8;
          fill: $dark-pink;
        }

      &:active {
        opacity: 0.5;
        fill: $dark-pink;
      }
      }

      .carts__item-description {
        min-width: 390px;
        margin-left: 32px;
        position: relative;

        @include mobile {
          margin-left: 17px;
        }

        .carts__item-heading {
          @include font (24px, 29px, normal);
          margin: 22px 0 42px 0;
          text-transform: uppercase;
          max-width: 210px;

          @include mobile {
            @include font (16px, 19px);
            max-width: 140px;
            margin: 13px 0 25px 0;
          }
        }

        .carts__item-text {
          @include font (22px, 26px, normal);
          margin-bottom: 6px;
          color: $dark-gray;

          @include mobile {
            @include font (14px, 16px);
          }

          .carts__item-text-pink {
            color: $dark-pink;
          }
        }
        .carts__item-text input {
          @include font (18px, 22px);
          margin-left: 24px;
          max-width: 44px;
          min-height: 24px;
          text-align: center;
          border-color: $light-gray;

          @include mobile {
            @include font (14px, 17px);
            max-width: 24px;
            min-height: 14px;
          }
        }
      }
    }

    .carts__buttons {
      display: flex;
      justify-content: space-between;
      margin: 70px 0 128px 0;

      @include tablet {
        justify-content: space-evenly;
        margin: 62px 0 64px 0;
      }

      @include mobile {
        justify-content: center;
        margin: 30px 0 48px 0;
      }

      .carts__button {
        padding: 15px;
        min-width: 230px;
        @include font (14px, 17px, 300);
        text-transform: uppercase;
        background-color: $white;
        color: $black;
        border: 2px solid $mid-gray;
        cursor: pointer;

        @include mobile {
          margin-right: 10px;;
          min-width: 170px;
          padding: 5px;
          @include font (12px, 14px);
        }

        &:hover {
          border: 2px solid $dark-pink;
        }
      }
    }
  }

  .carts__registration {
    flex-direction: column;
    margin: 96px 0 0 130px;


    @include tablet {
      display: flex;
      margin: 0 0 140px;
      flex-direction: row;
      justify-content: center;
    }

    @include mobile {
      display: flex;
      margin: 0 0 96px;
      flex-direction: column;
      align-items: center;
    }

    .carts__registration-form {
      display: flex;
      flex-direction: column;

      @include tablet {
        width: 360px;
      }

      @include mobile {
        width: 360px;
      }
      .carts__registration-text {
        @include font (16px, 19px, 300);
        text-transform: uppercase;
        color: $black;
        margin-bottom: 20px;
      }

      .carts__registration-input {
        min-width: 350px;
        min-height: 20px;
        @include font (13px, 16px, 300);
        border: 2px solid $light-pink;
        color: $mid-gray;
        padding: 10px;
        margin-top: 21px;

        @include tablet {
          min-width: 335px;
        }

        &:hover {
          outline: 2px solid $dark-pink;
          background: $white;
          cursor: text;
        }
      }

      .carts__button {
        display: block;
        margin: 24px 0 58px 0;
        padding: 10px;
        @include font (14px, 17px, 300);
        text-transform: uppercase;
        background-color: $white;
        color: $dark-gray;
        border: 2px solid $mid-gray;
        cursor: pointer;

        &:hover {
          border: 2px solid $dark-pink;
        }
      }
    }

    .carts__registration-total {
      min-width: 294px;
      max-height: 150px;
      background-color: $light-gray;
      padding: 37px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      position: relative;

      @include tablet {
        max-width: 350px;
        margin: 58px 0 0 18px;
      };

      @include mobile {
        margin: 0 0 0 0;
        // max-width: 350px;
      }

      &:after {
        content: '';
        position: absolute;
        border: 1px solid $mid-gray;
        width: 79%;
        top: 120px;
      }

      .carts__registration-total-sub {
        @include font (11px, 13px, normal);
        text-transform: uppercase;
        margin-top: 12px;
        margin-bottom: 18px;

        span {
          margin-left: 20px;
        }
      }

      .carts__registration-total-all {
        @include font (16px, 19px, 300);
        text-transform: uppercase;
        margin-bottom: 42px;
        
        .carts__registration-total-pink {
          color: $dark-pink;
          margin-left: 18px;
        }
      }

      .carts__registration-button {
        padding: 15px;
        width: 100%;
        align-self: flex-start;
        position: relative;
        @include font (16px, 19px, 300);
        text-align: center;
        text-transform: uppercase;
        background-color: $dark-pink;
        color: $light-gray;
        border: 2px solid $dark-pink;
        cursor: pointer;

        &:hover {
          background-color: transparent;
          color: $dark-pink;
        }
      }      
    }
  }
  
}