.categories__list {
  // display: flex;
  // justify-content: space-between;
  // flex-wrap: wrap;
  display: grid;
  grid-template-columns: repeat(3, 33.3%);
  grid-gap: 30px;
  grid-template-areas:
    "box-1 box-2 box-3"
    "box-4 box-4 box-4";

  @include tablet {
    // width: 32%;
    min-height: 168px;
    grid-template-columns: repeat(3, 30%);
  }

  @include mobile {
    // width: 100%;
    min-height: 247px;
    margin-bottom: 32px;
    grid-template-columns: repeat(1, 100%);
    grid-template-areas:
      "box-1"
      "box-2"
      "box-3"
      "box-4";
  }

  .categories__item {
    // width: 360px;
    min-height: 260px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    background-repeat: no-repeat;

    &--woman {
      grid-area: box-1;
      background-image: url(../img/forwomen.jpg);
      background-color: $dark-gray;
    }

    &--man {
      grid-area: box-2;
      background-image: url(../img/formen.jpg);
      background-color: $dark-gray;
    }

    &--kids {
      grid-area: box-3;
      background-image: url(../img/forkids.jpg);
      background-color: $dark-gray;
    }

    &--accessories {
      grid-area: box-4;
      background-image: url(../img/accesories.jpg);
      background-color: $dark-gray;
      width: 100%;
      min-height: 180px;
      // margin-top: 30px;
      // margin-bottom: 0;

      @include tablet {
        min-height: 116px;
      }

      @include mobile {
        min-height: 111px;
      }
    }
  }

  .categories__text {
    @include font(16px, 19px);
    color: $white;
  }

  .categories__heading {
    @include font(24px, 29px, 700);
    color: $dark-pink;
  }
}
