.categories__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  .categories__item {
    width: 360px;
    min-height: 260px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    background-repeat: no-repeat;

    &--woman {
      background-image: url(../img/forwomen.jpg);
    }

    &--man {
      background-image: url(../img/formen.jpg);
    }

    &--kids {
      background-image: url(../img/forkids.jpg);
    }

    &--accessories {
      background-image: url(../img/accesories.jpg);
      width: 100%;
      min-height: 180px;
      margin-top: 30px;
      margin-bottom: 97px;
    }
  }

  .categories__text {
    @include font (16px, 19px, normal);
    color: $white;
  }

  .categories__heading {
    @include font (20px, 19px, normal);
    color: $dark-pink;
  }
}