.title {
  background-color: $light-pink;

  .title__heading {
    display: flex;
    min-height: 148px;
    align-items: center;
    justify-content: space-between;

    @include mobile {
      flex-direction: column;
      justify-content: space-evenly;
    }

    .title__text {
      color: $dark-pink;
      text-transform: uppercase;
      @include font (24px, 29px, normal);

      @include mobile {
        text-align: center;
      }
    }

    .title__list {
      display: flex;

      .title__item {
        display: flex;
        margin-left: 10px;
        text-transform: uppercase;
        @include font (14px, 17px);
        color: $dark-gray;

        .title__item-flash {
          display: inline;
          padding-left: 10px;
        }

        .title__item-link:hover {
          @include font (14px, 17px, 700);
          color: $dark-pink;
          text-decoration: underline;
        }
      }
    }
  }
}